﻿<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>All users audits</h3>
<table class="table table-responsive table-bordered">
    <thead>
        <tr>
            <th>S.No</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Role</th>
            <th>Last Login</th>
            <th>Login IP</th>
            <th>Last Logout</th>
            <th>Logout IP</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let audit of (auditsList | paginate: { itemsPerPage: 10, currentPage: currentPage }); let i =index">
            <td>{{ 10 * (currentPage - 1) + i + 1 }}</td>
            <td>{{audit.firstName  || 'NA'}}</td>
            <td>{{audit.lastName  || 'NA'}}</td>
            <td>{{audit.username  || 'NA'}}</td>
            <td>{{audit.role  || 'NA'}}</td>
            <td>{{(audit.lastLogin |date:'medium') || 'NA'}}</td>
            <td>{{audit.loginClientIp  || 'NA'}}</td>
            <td>{{(audit.lastLogout |date:'medium')  || 'NA'}}</td>
            <td>{{audit.logoutClientIp || 'NA' }}</td>
        </tr>
    </tbody>
</table>
<div class="text-right">
    <pagination-controls (pageChange)="currentPage = $event"></pagination-controls>
</div>