﻿<h1>Hi {{currentUser.firstName}}!</h1>
<p>You're logged in with Angular 8!!</p>
<h3>Welcome to Dashboard</h3>
<button class="btn btn-primary" routerLink="audit" *ngIf="currentUser.role == 'AUDITOR'">Audits</button>
<h3 class="h3" *ngIf="currentUser.role != 'AUDITOR'">Sorry you don't have permissions to Audits</h3>